@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,700,700italic,600,600italic|Khula:400,300|Work+Sans:400,300);
/*-- ######   CARDS #####  --*/

.card {
  position: relative;
  width: 187px;
  height: 240px;
  background-color: #E1E6EB;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  display: inline-block;
  text-decoration: none;
  margin: 20px 0;
  cursor: pointer;
}


.card-tape {

  background-size: contain;
  background-color: white;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  border-radius: 6px 6px 0 0;
}


.card-header {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  z-index: 2;
  color: white;
}

.card-info-area {
  list-style: none;
  display: inline-block;
  margin: 3px 0px;
  padding: 0;
  width: 100%;
}



.card-info {
  color: #9D9D9D;
  font-size: 10px;
  line-height: 14px;
  margin-top: 2px;
  float: left;
  text-transform: uppercase;
  text-align: left;
  padding: 0 5px;
  letter-spacing: .2px;
  overflow: hidden;
  height: 53px;
}
.card-info-area span:before {
    content: '...';
    text-align: right;
    position: absolute;
    display: block;
    width: 2em;
    height: 1em;
    bottom: 1em;
    right: 5px;
}

.card-name-area {
    text-align: left;
    background-color: #79A9D9;
    list-style: none;
    display: inline-block;
    padding: 0px;
    width: 100%;
    margin: 0;
}
.card-name {
  font-size: 10px;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  letter-spacing: .3px;
}

.section-1 {
  max-width: 820px;
  margin: 0 auto;
}
.section-name {
  font-size: 14px;
  color: #959595;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 13px;
}

.body-hr{
	border-top: 1px solid #CED3D6 ;
}

.footer {
  background-color: darkgray;
  height: 100px;
  width: 100%;
}
#empaques {
  margin: 50px 70px 70px 70px;
}

.empaques {
  background-color: rgba(223, 228, 236, 1);
  width: 100%;
}

.empaques-heading {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  margin: 10px 0px 20px 0px
}

.empaques-heading-2 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  margin: 50px 0px 20px 0px
}

td {
    border: 3px solid rgba(223, 228, 236, 1);
    padding: 5px 10px;
    background-color: white;
}

tr td:first-child {
  text-transform: uppercase;
  font-size: 12px;
}


.card-details {
  font-size: 11px;
}

.card-details tr td:first-child {
  text-transform: none;
  font-size: 11px;
}

.card-details td {
    border: 1px solid rgba(223, 228, 236, 1);
    background-color: white;
}


table {
  max-width: 825px;
}

.card-active table {
  margin-left: 44px;
  margin-bottom: 10px;
  margin-top: 10px;
}

html {
text-rendering: optimizeLegibility !important;

-webkit-font-smoothing: antialiased !important;
}

.card-selected {
  background-color: rgba(0,0,20,0.6);
  background-size: cover;
  width: 100%;
  height: vph;
}


/*--··············· CARD ACTIVE ···············--*/


.black-background-centered {
  width: 100%;
  height: 100vh;
  z-index: 1000;
  top: 0;
  position: fixed;
}

.black-background {
    width: 100%;
  height: 100vh;
  background-color: rgba( 0, 0, 0, 0.5);
  z-index: -1000;
  top: 0;
  position: fixed;
}

.card-active {
  width: 900px;
  height: 420px;
  background: white;
  border-radius: 6px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  color: #9d9d9d;
  position: relative;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22);
}

@media (min-width: 1200px) {
  .card-active { 
    left: -172px;
  }
  
}

@media (max-width: 699px) {
  .card-active { 
    width: 91%;
  }
  .card-image {
    width: 33%;
    background-size: cover;
  }
  .card-detail {
    width: 67%;
  }
  
}


.card-image {
  width: 40%;
  height: 100%;
  background: blue;
  border-radius: 6px 0 0 6px;
  display: inline-block;
  background-size: cover;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50%;
}

.card-details {
  width:60%;
  height: 420px;
  border-radius: 0 6px 6px 0;
  display: inline-block;
  float: right;
  border-left: 1px solid rgb(236, 236, 236);
  background-color: rgba(249, 253, 255, 1);
}

.card-details ul {
  list-style: none;
  padding: 0 30px;
}

.presentacion {
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  text-transform: uppercase;
}

.card-details-hr {
  margin: 20px 30px;
  color: #d6d6d6;
}

.card-clase {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 25px;
}

.card-nombre {
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
}

.card-clave {
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
}

.card-descripcion {
  font-size: 13px;
  font-weight: 200;
  padding-left: 30px;
  max-width: 500px;
  width: auto;
  margin-bottom: 20px;
}

.te-list {
  font-size: 13px;
}


.btn-sidebar {
  right: 5%;
}


.color-1 .card-name {
  background-color: orange;
}

.color-2 .card-name {
  background-color: chocolate;
}

.color-3 .card-name {
  background-color: #A73333;
}

.color-4 .card-name {
  background-color: #8ABD3C;
}

.color-5 .card-name {
  background-color: #408C40;
}

.color-6 .card-name {
  background-color: gray;
}

.color-7 .card-name {
  background-color: #924A92;
}

.color-8 .card-name {
  background-color: coral;
}

.color-9 .card-name {
  background-color: orange;
}





/*--            IMAGENES   SMALL             --*/

.card-img-s-1 {
  background-image: url('../img/products/small/p-s-1.png');
}

.card-img-s-2 {
  background-image: url('../img/products/small/p-s-2.png');
}

.card-img-s-3 {
  background-image: url('../img/products/small/p-s-3.png');
}

.card-img-s-4 {
  background-image: url('../img/products/small/p-s-4.png');
}

.card-img-s-5 {
  background-image: url('../img/products/small/p-s-5.png');
}

.card-img-s-6 {
  background-image: url('../img/products/small/p-s-6.png');
}

.card-img-s-7 {
  background-image: url('../img/products/small/p-s-7.png');
}

.card-img-s-8 {
  background-image: url('../img/products/small/p-s-8.png');
}

.card-img-s-9 {
  background-image: url('../img/products/small/p-s-9.png');
}

.card-img-s-10 {
  background-image: url('../img/products/small/p-s-10.png');
}

.card-img-s-11 {
  background-image: url('../img/products/small/p-s-11.png');
}

.card-img-s-12 {
  background-image: url('../img/products/small/p-s-12.png');
}

.card-img-s-13 {
  background-image: url('../img/products/small/p-s-13.png');
}

.card-img-s-14 {
  background-image: url('../img/products/small/p-s-14.png');
}

.card-img-s-15 {
  background-image: url('../img/products/small/p-s-15.png');
}

.card-img-s-16 {
  background-image: url('../img/products/small/p-s-16.png');
}

.card-img-s-17 {
  background-image: url('../img/products/small/p-s-17.png');
}

.card-img-s-18 {
  background-image: url('../img/products/small/p-s-18.png');
}

.card-img-s-19 {
  background-image: url('../img/products/small/p-s-19.png');
}

.card-img-s-20 {
  background-image: url('../img/products/small/p-s-20.png');
}














/*--            IMAGENES   PREVIEW             --*/

.card-img-1 {
  background-image: url('../img/products/preview/p-1.png');;
}

.card-img-2 {
  background-image: url('../img/products/preview/p-2.png');;
}

.card-img-3 {
  background-image: url('../img/products/preview/p-3.png');;
}

.card-img-4 {
  background-image: url('../img/products/preview/p-4.png');;
}

.card-img-5 {
  background-image: url('../img/products/preview/p-5.png');;
}

.card-img-6 {
  background-image: url('../img/products/preview/p-6.png');;
}

.card-img-7 {
  background-image: url('../img/products/preview/p-7.png');;
}

.card-img-8 {
  background-image: url('../img/products/preview/p-8.png');;
}

.card-img-9 {
  background-image: url('../img/products/preview/p-9.png');;
}

.card-img-10 {
  background-image: url('../img/products/preview/p-10.png');;
}

.card-img-11 {
  background-image: url('../img/products/preview/p-11.png');;
}

.card-img-12 {
  background-image: url('../img/products/preview/p-12.png');;
}

.card-img-13 {
  background-image: url('../img/products/preview/p-13.png');;
}

.card-img-14 {
  background-image: url('../img/products/preview/p-14.png');;
}

.card-img-15 {
  background-image: url('../img/products/preview/p-15.png');;
}

.card-img-16 {
  background-image: url('../img/products/preview/p-16.png');;
}

.card-img-17 {
  background-image: url('../img/products/preview/p-17.png');;
}

.card-img-18 {
  background-image: url('../img/products/preview/p-18.png');
}

.card-img-19 {
  background-image: url('../img/products/preview/p-19.png');
}

.card-img-20 {
  background-image: url('../img/products/preview/p-20.png');
}


.close {
    position: relative;
    float: right;
    top: 10px;
    font-size: 41px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    color: white;
}


.card-active-about-us {
  width: 600px;
  padding: 40px 40px;
  background: white;
  border-radius: 6px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  color: #9d9d9d;
  position: relative;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22);
  text-align: center;
}